body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  /*color: #868e96;*/
  color: #17212e;
 /* background-color: #c3cbdc; */
  background-color:#edf1f4
 /* background-image: linear-gradient(147deg,#c3cbdc 0,#edf1f4 74%); */
}

#page-top {
  color: #17212e;
  background-color: #c3cbdc;
  background-color:#edf1f4
 /* background-image: linear-gradient(147deg,#c3cbdc 0,#edf1f4 74%); */
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: #343a40;
}


h1, h2{
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
  color: #343a40;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #3700ff;
  
}

.list-social-icons a:hover {
  color: #3700ff;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
  
}
.list-inline {
  padding-bottom: 24px;
  padding-top: 20px;
}

.list-icons .list-inline-item i:hover {
  color: #3700ff;
  
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 3px solid #dee2e6;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}


@media (min-width: 768px) {
  section.resume-section {
     min-height: 45vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
  .hello {
    margin-bottom: -27px;
    margin-top: 34px;
    bottom: 40px;
  }
}

 

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

.bg-primary {
  background-color: #343a40 !important;
}

.text-primary {
  background-image: linear-gradient(90deg,#3700ff,#ff0059);
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-right: 17rem;
}

.text-small {
 font-size: 34px;
}

a {
  color: #3700ff;
  
}

a:hover, a:focus, a:active {
  color: #3700ff;
}

/*
img {
  max-width:80%;
}
*/

.image1 {
  max-width: 16%;
    box-shadow: 6px 11px 13px rgb(7 33 66 / 16%);
    border-radius: 10px;
    position: relative;
    top: 165px;
    left: -18px;

}

.mb1 {
  margin-bottom: -4rem;
}
/*
.hello {
  margin-bottom: -27px;
  margin-top: 34px;
  bottom: 40px;
}
*/
.rounded-circle {
  border-radius: 0%!important;
}

.navbar-dark .navbar-nav .nav-link {

  color: #17212e;
}
.bg-primary {
  color: #17212e;
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg,#c3cbdc 0,#edf1f4 74%);
}


.new {
  min-height: 60vh;
  
}

.mb3 {
  color: #17212e;
}

.mb-5{
  padding-top: 20px;
}


@media ( min-width: 320px ) and ( max-width: 480px ) {  

  .image1 {
    max-width: 16%;
    box-shadow: 6px 11px 13px rgb(7 33 66 / 16%);
    border-radius: 10px;
    position: relative;
    top: -90px;
    left: 295px;
  
}
}

